label{
    display: block;
}
header{
 background-color:#EF233C;
 color: #2B2D42;
 border: 5px solid #2B2D42;
 text-align: center;
 margin-bottom: 2em;
}
header h2{
    font-style: italic;
}
h1, h2, h3, h4{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.contentLinks a:visited{
    color: #D90429;
}
.contentLinks li{
    color: #D90429;
    text-align: center;
    list-style: none;
    display: flex;
    font-family: 'Sansita Swashed', cursive;
}
p, li{ 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
}
p{
 padding: 1em;
 margin: auto;
}
.questions{
    border: 5px ridge #EF233C;
}
.questions ul{
    padding: .5em;
    list-style: none;
    text-align: center;
    color: #2B2D42;
}
.notes li{
    padding: .5em;
    list-style: disc;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2B2D42;
}