@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');
/*phone, mobile first */
.navigation a {
  color: #F4F7F5;
  padding: 10px;
  text-align: center;
} 
a:hover {
  color: black;
  background-color: #FF0000;
  width: 50%;
} 
.navigation ul{
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin: 0;
  padding: 0;
  background-color: #BA0C0C;
  color: #F4F7F5;
  grid-row: 1/2;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  font-family: 'Acme', sans-serif;
}

/* li {
float: left;
} */
.removeBtn{
  margin-left: 20px;
  background-color: #BA0C0C;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
}
#alarmHead{
text-align: center;
font-family: 'Acme', sans-serif;
color:  black; 
}

.content{
  max-width: 1200px;
  margin: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  background: white;
}
.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h1{
  font-family: 'Acme', sans-serif;
  position: absolute;
  color: #0B132B;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner img{
  opacity: 50%;
}
.breakAlarm{
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 2em;
  margin: 2em;
}

.breakAlarm label{
 padding:2em;
 margin: 1em;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 color: #BA0C0C;
}
.breakAlarm input[type=text]{
  margin-bottom: 2em;
  width: 20%;
  border: none;
  border-bottom: 2px solid  black;
  width: 25%;
}
.breakAlarm input{
  margin-bottom: 2em;
  width: 20%;
  border: 2px solid  black;
}
.breakAlarm textarea{
  width: 25%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid  black;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.breakAlarm select{
  width: 25%;
  background-color: #2A850E;
  color: white;
  height: 3em;
  font-family: 'Montserrat', sans-serif;
}
.breakAlarm select:hover{
  width: 25%;
  background-color: white;
  color: black;
}
h4{
  color: black;
  font-family: 'Acme', sans-serif;
}
/* alarm */
#alarmButton{
  background-color: #27A300;
  color:white;
  padding: 12px 28px;
  font-size: 15px;
  margin-left: 2em;
  margin-top: 2em;
  border-radius: 12px;

}
#alarmButton:hover{
  background-color:  #2D661B;
  color:white;
  padding: 12px 28px;
  font-size: 15px;
  margin-left: 2em;
  margin-top: 2em;
  border-radius: 12px;

}
#stopBtn{
  background-color: #FF0000;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  padding: 14px 40px;
}
#snoozeBtn{
background-color: black;
color: #FF0000;
font-size: 15px;
border-radius: 4px;
padding: 14px 40px;
}

/* clock */
body {
  font-family: "Work Sans", sans-serif;
}
.time {
  color: #FF0000;
  padding: 8px;
  padding-top: 30%;
  text-align: center;
}
.hms {
  font-size: 48pt;
  font-weight: 200;
}
.ampm {
  font-size: 12pt;
}
.date {
  font-size: 20px;
}

