@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');
/*phone, mobile first */
.navigation a {
  color: #F4F7F5;
  padding: 10px;
  text-align: center;
} 
a:hover {
  color: black;
  background-color: #F3B61F;
  width: 50%;
} 
.navigation ul{
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin: 0;
  padding: 0;
  background-color: #6A0F49;
  color: #F4F7F5;
  grid-row: 1/2;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  font-family: 'Acme', sans-serif;
}

/* li {
float: left;
} */
.removeBtn{
  margin-left: 20px;
  background-color: #F3B61F;
  color: black;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
}
#itemTitle{
  margin: 10px;
}

.content{
  max-width: 1200px;
  margin: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  background: url("studybooksbanner.jpg");
}
.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h1{
  font-family: 'Acme', sans-serif;
  position: absolute;
  color: #0B132B;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner img{
  opacity: 50%;
}
.breakAlarm{
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}
.breakAlarm label{
 padding-right: 1em;
}
.breakAlarm input{
  margin-bottom: 2em;
  width: 20%;

}
.breakAlarm select{
  width: 25%;
  background-color: #F3B61F;
  color: #6A0F49;
  height: 3em;
}
.breakAlarm select:hover{
  width: 25%;
  background-color: #6A0F49;
  color: #F3B61F;
}
/* alarm */
#alarmButton{
  background-color: #6A0F49;
  color:white;
  padding: 12px 28px;
  font-size: 15px;
  margin-left: 2em;
  margin-top: 2em;
  border-radius: 12px;

}
#stopBtn{
  background-color: #6A0F49;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  padding: 14px 40px;
}
#snoozeBtn{
background-color: #F3B61F;
color: #6A0F49;
font-size: 15px;
border-radius: 4px;
padding: 14px 40px;
}

/* clock */
body {
  font-family: "Work Sans", sans-serif;
}
.time {
  color: #6A0F49;
  padding: 8px;
  padding-top: 30%;
  text-align: center;
}
.hms {
  font-size: 48pt;
  font-weight: 200;
}
.ampm {
  font-size: 12pt;
}
.date {
  font-size: 20px;
}

